
div #main-container {
	height: 100vh;
}

#main-column {
    height: 100%;
}

#main-row {
    height: 100%;
}

#mainpage {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

div #addFilterButtonBar {
    margin-top: 12px;
}

#sidebar {
    height: 400px;
}

#filter-list {
    height: 400px;
}

div .button {
	margin-bottom: 8px;
}

div #pageTop {
	margin-top: 8px;
}

div .title-white {
	color: white;
}

div #header {
	padding-top: 8px;
	
	height: 50px;
    background-color: #bebebe  ;
    
    border-bottom-width: 2px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}


div #home-buttons-desc {
    margin-top: 32px;
    margin-bottom: 24px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #666666;
}

div .prewrap {
    white-space: pre-wrap;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    font-size: 14px;
    color: #666666;
}

.form-check-label {
    margin-bottom: 8px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 15px;
    color: #666666;

}


.form-check-label:hover {
    cursor: pointer;
    background-color: #EEEEEE;
}

.form-check-textinput:hover {
    background-color: #EEEEEE;
}

.sectionTitle {
    margin-top: 16px;
}

div #submitDiv {
    margin-top: 48px;
}

div #footerDiv {
    height: 72px;
}


#generatedOpnote {
    margin-top: 24px;
    background-color: #EEEEEE;
    display:none;
}

#copyToClipboardDiv {
    display:none;
}

#copiedAlert {
    display:none;
    margin-bottom: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}


.hiddenElement {
	display:none;
}


/* remove the blue outline that is displayed by the browser on buttons */
button:focus {
outline: 0px solid transparent;
}

