
div #main-container {
	height: 100vh;
}

#main-column {
    height: 100%;
}

#main-row {
    height: 100%;
}

#mainpage {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

div #addFilterButtonBar {
    margin-top: 12px;
}

#sidebar {
    height: 400px;
}

#filter-list {
    height: 400px;
}

div .button {
	margin-bottom: 8px;
}

div #pageTop {
	margin-top: 8px;
}

div .title-white {
	color: white;
}

div #header {
	padding-top: 8px;
	
	height: 50px;
    background-color: #bebebe  ;
    
    border-bottom-width: 2px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div #loginPage {
	margin-top: 8px;
}

div #ruleListButtonBar {
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    
    margin-left: 0;
    margin-right: 0;
    
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div #ruleListSortables {
	margin-top: 12px;
}

div #exportRulesDialogButtonBar {
	height: 64px;
	
	border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div #ruleEditorButtonBar {
	height: 50px;
	
	border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}


div #editorRuleList {
	border-right-width: 2px;
	border-right-color: gray;
	border-right-style: solid;
	
	background-color: #ffffff;
}

div #bottomPaddingRow {
    height: 60px;
}

div #selectFeatureTypeRow {
    margin-left: -3px;
    margin-bottom: 8px;
}

div #changesSavedDiv {
    margin-top: 12px;

    font-size: 14px;
    color: gray;
}

div #mapDivRow {
    margin-left: -3px;

    padding-bottom: 12px;
}

div #consequentFormInputs {
    margin-top: -20px;
}

div .consequent-div-empty {
    padding-top: 8px;
    margin-left: -3px;
    margin-right: -15px;

    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div .consequent-div {
    padding-top: 8px;
    margin-left: -3px;

    height: 65px;

    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div .consequent-div:hover {
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

div .consequent-div-selected {
    background-color: rgb(245, 245, 245);
}

div .col-dialog-left {
    padding-right: 6px;
}

div .col-dialog {
	padding-left: 6px;
	padding-right: 6px;
}

div .col-dialog-right {
    padding-left: 6px;
}

div .modal-xxl {
    max-width: 1000px;
}

div .filtersKeywordDivRow {
	padding-top: 6px;
	padding-bottom: 6px;
	
	margin-left: -5px;
	margin-right: -5px;
	
	border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div #ruleFiltersTitleInRuleEditorDiv {
    padding-right: 0px;
}

#getMs2525cIconButton {
    margin-top: 19px;
    margin-left: -28px;
}

div#ms2525cEntryDiv:hover {
    background-color:#ebebeb;
    cursor: pointer;
}

div#ms2525cEntryDiv {
    
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;

    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

div .customIconDiv {
    font-size: 12px;
    color: gray;
}

.customIconDiv label {
    margin-bottom: 0px;
}

div .customIconTabPane {
    padding-top: 16px;
}

div #addKeywordInstructions {
    font-size: 12pt;
    color: #666666;
}

div .keywordInRuleEditor {
    font-size: 12pt;
    color: #666666;
}


div #addFilterInstructions {
    font-size: 12pt;
    color: #666666;
}

div .filterListInRuleEditor {
    font-size: 12pt;
    color: #666666;
    padding-left: 15px;
}

div .filterLineDiv {
    padding-top: 6px;
    padding-bottom: 6px;
    
    margin-left: -5px;
    margin-right: -5px;
    
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div #deleteFilterButtonDiv {
	margin-top: 17px;
}

div .dreTitle {
    height: 50px;
    background-color: #f9f9f9;
    
    padding-top: 10px;
    padding-left: 8px;
    
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

div .dialogTitle {
    height: 50px;
    
    padding-top: 10px;
    padding-left: 8px;
    
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
}

#mapDiv {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
}

div .editorRuleListEntry {
	border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    
    padding-left: 12px;

    background-color: #eeeeee;
}

div .editorRuleListEntrySelected {
    border-bottom-width: 1px;
    border-bottom-color: gray;
    border-bottom-style: solid;
    
    border-left-width: 8px;
    border-left-color: #bebebe;
    border-left-style: solid;
    
    padding-left: 4px;

    background-color: #eeeeee;
}

div #ruleFiltersInRuleEditorRow {
    margin-left: 12px;
    margin-right: 0px;
    padding: 12px;

    border-width: 1px;
    border-color: #bebebe;
    border-style: solid;
}

div #ruleFiltersInRuleEditorRow:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

li.login-list-item:hover {
    background-color:#fafafa;
    cursor: pointer;
}

div.login-list-item {
    height: 66px;
}

li.login-list-item {
    margin-bottom: 4px;
    margin-top: 4px;
	background-color: #ffffff;
}

li.login-list-item:hover {
    background-color:#fafafa;
    cursor: pointer;
}



div #featureTypeSelectDiv {
    width: 200px;
    margin-left: 15px;
}

div .smallButton {
	margin: 4px;
}

div .consequentButton {
    margin-top: 8px;
    margin-bottom: 0px;
}

div .consequentSetLabel {
    margin-top: 8px;
    margin-left: 18px;
    margin-bottom: 0px;
}

input #backToRuleListButton {
	margin: 4px;
}
div .editorRuleListEntry:hover {
    background-color: #bebebe;
    cursor: pointer;
}

div #consequentFormGroupSpacer {
    height: 16px;
}

div #showAdvancedConsequentsDiv {
    font-size: 12px;
    color: gray;
    justify-content:center;

    width: 100%;

    position:absolute;
    bottom:0;
}

div #showAdvancedConsequentsDiv:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

div #advancedStylesDivRow {
    display: none;

    margin-top: 12px;
    margin-left: 24px;
}

div #add-halo-icon-div {
    margin-top: 8px;
}

div #add-rule-extra-div {
    margin-top: 8px;
}




div #silhouetteEntriesDiv {
    margin-left: 72px;
    margin-right: 24px;
}

div.silhouetteEntryDiv:hover {
    background-color:#ebebeb;
    cursor: pointer;
}

div.silhouetteEntryDiv {
    
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;

    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

div .customIconLabel {
    font-size: 9px;
    color: gray;
    text-align: center;
    width: 84px;
}


div #ntdsEntriesDiv {
    margin-left: 72px;
    margin-right: 24px;
}

div.ntdsEntryDiv:hover {
    background-color:#ebebeb;
    cursor: pointer;
}

div.ntdsEntryDiv {
    
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;

    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

div #ms2525bEntriesDiv {
    margin-left: 72px;
    margin-right: 24px;
}

div.ms2525bEntriesDiv:hover {
    background-color:#ebebeb;
    cursor: pointer;
}

div.ms2525bEntriesDiv {
    
    margin-top: 8px;
    margin-left: 12px;
    margin-right: 12px;

    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
}


div .enableRuleToggleDiv {
    margin-top: 18px;
    margin-right: 6px;
}


hr {
  border: 0;
  clear:both;
  display:block;
  width: 98%;               
  background-color:#808080;
  height: 1px;
}


.ui-draggable, .ui-droppable {
    background-position: top;
}

ul.sortable-table {
	width: 100%;
	list-style-type: none;
	margin-right: 20px;
}

div.keyword-list-item {
    height: 40px;
    margin-bottom: 4px;
    margin-top: 4px;
    margin-left: 12px;
    margin-right: 12px;
}

div.rule-list-item {
    height: 66px;
}

li.rule-list-item {
    margin-bottom: 4px;
    margin-top: 4px;
	background-color: #ffffff;
}

.empty-style-rule {
    
    font-size: 15pt;
    color: #999999;
    font-weight: bold;
}

div .invalidSourceEntryDiv {
    color: #666666;
    font-size: 11pt;
    font-weight: normal;

    height: 22px;

    margin-top: 8px;
    margin-left: 14px;
}

div .typesToMatchDiv {
    color: #666666;
    font-size: 11pt;
    font-weight: normal;

    height: 22px;

    margin-top: 8px;
    margin-left: 14px;
}

div .sourceMappingSelectDiv {
    margin-left: 14px;
    margin-right: 18px;

    height: 44px;

    border-bottom: thin solid #666666;
}

div .sourceMappingSelectFormGroup {
    width:98%;
    margin-top: 0px;
	margin-bottom: 4px;
	margin-right: 16px;
	font-size: 12px;
	color: gray;
}

.sourceMappingSelectFormGroup label {
	margin-bottom: 0px;
}

div .invalidSourceEntryTitleDiv {

    color: #8d0000;
    font-size: 12pt;
    font-weight: bold;

    margin-left: 8px;
    margin-right: 18px;

    border-bottom: thin solid #666666;
}

div .graySpanTitle {
    color: gray;
    font-size: 10pt;
    font-weight: normal;

    padding-left: 0px;
    padding-right: 0px;
}

div .graySpan {
    color: gray;
    font-size: 10pt;
    font-weight: normal;
}

div .redSpanTitle {
    color: #8d0000;
    font-size: 10pt;
    font-weight: normal;

    padding-left: 0px;
    padding-right: 0px;
}

div .redSpan {
    color: #8d0000;
    font-size: 10pt;
    font-weight: normal;
}

.endPartSpan {
    background-color: #DDDDDD;
    margin-left: 2px;
    margin-right: 2px;

    padding-left: 2px;
    padding-right: 2px;
}

div .styleRulesTitle {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
    
    color: rgb(189, 188, 188);
}


div.shared-rule-list-item {
    height: 66px;
}

li.shared-rule-list-item {
    margin-bottom: 4px;
    margin-top: 4px;
	background-color: #ffffff;
}

li.rule-list-item:hover {
    background-color:#fafafa;
    cursor: pointer;
}

img.sortable-handle {
    margin-top: 12px;
    margin-bottom: 0px;
}

div .featureTypeSelectLabel {
    margin-right: 24px;
    margin-top: 8px;
    padding-left: 6px;
    color: #666666;
    font-size: 16px;
}

div .ruleNames {
    margin-top: 8px;
    padding-left: 6px;
    color: #666666;
    font-size: 16px;
}

div .deleteRuleButtons {
    margin-top: 18px;
    margin-right: 24px;
}

div .canvasLabel {
    margin-top: -8px;
    font-size: 9px;
    color: gray;
    text-align: center;
    width: 84px;
}


div #fileChooserTitle {
    margin-top: 14px;

    font-size: 15px;
    font-weight: bold;
    color: #777777;
}

input#fileChooserButton {
    margin-top: 8px;
}


div .canvasLabelLarge {
    margin-top: -8px;
    font-size: 9px;
    color: gray;
    text-align: center;
    width: 144px;
}

div .titleDescDiv {
	margin-left: 12px;
}

div .colorpicker-div {
    margin-top:  5px;
}

div .colorpicker-input {
    width:auto; margin-top: 0px;
}

div .wideFormGroup {
	width:100%;
	margin-bottom: 4px;
	margin-right: 16px;
	font-size: 12px;
	color: gray;
}

.wideFormGroup label {
	margin-bottom: 0px;
}


div .consequentFormGroup {
	width:98%;
	margin-bottom: 8px;
	margin-right: 16px;
	font-size: 12px;
	color: gray;
}

.consequentFormGroup label {
	margin-bottom: 0px;
}


div .consequentSetLabelRow {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 11px;
    
    color: rgb(189, 188, 188);
}

div #titleDiv {
	margin-top: 4px;
}


.dialog-row-border-bottom {
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: medium solid #999999;
}

.dialog-row-border-top {
    margin-left: 8px;
    margin-right: 8px;
    border-top: medium solid #999999;
}

.dialog-row {
    margin-left: 15px;
    margin-right: 15px;
}

.table-header-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}

.dialog-notes-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #00FF00;
}

.dialog-error-text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #FF0000;
}


label.error {
    font-weight: bold;
    color: red;
    margin-top: 2px;
}

label.valid {
    
}

input[type=text], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text].valid, textarea.valid, select.valid {
  box-shadow: 0 0 5px rgba(0, 255, 0, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(0, 255, 0, 1);
}
 
input[type=text].error, textarea.error, select.error {
  box-shadow: 0 0 5px rgba(255, 0, 0, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(255, 0, 0, 1);
}



.casrep-list th{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}

.fixed-header {
    position: fixed;
    top: 0px;
    left: 25%;
    width:900px;
    height: 34px;
    background-color: #FFFFFF;
    z-index: 100;
    
    border-bottom: 1px solid #eeeeee;
}

.fixed-header h4 {
	margin-left: 12px;
	margin-top: 6px;
	margin-bottom: 4px;
	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #666666;
}

#fixed-sidebar-header {
    position: fixed;
    top: 0px;
    left: 78%;
    width: 190px;
    background-color: #FFFFFF;
    z-index: 100;
    
    border-top: medium solid #999999;
}


.bb-alert
{
    position: fixed;
    bottom: 25%;
    right: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    padding: 1em 1.3em;
    z-index: 2000;
    display:none;
}

.alert--finch
{
    display: block;
    font-weight: bold;
    text-align: center;
}

.hiddenElement {
	display:none;
}

.breadcrumb-trail {
    margin-top: 72px;
    margin-left: -30px;
}

.header-bar {
	/*background-color: #CCCCCC;*/
}

.option-type {
    border-top: medium solid #999999;
    padding-top: 4px;
    padding-bottom: 4px;
}

.option-type-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    padding-left: 2px;
}

.option-desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
}

.hidden-option-info {
    display: none;
}

.option-info {
	margin-bottom: 16px;
}

.hidden-option-heuristics {
	display: none;
}


.top-left {
    border-top: medium solid #CCCCCC;
    height: 40px;
    padding-right: 0px;
    padding-left: 24px;
}

.top-left-inner {
    
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 20px;
    
    width: 28px;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    
}

#loader img {
    vertical-align: middle;
    margin-left: 350px;
}

.top-left img {
    vertical-align: middle;
    margin-right: 8px;
}

.top-mid-left {
    border-top: medium solid #CCCCCC;
    height: 40px;
    padding-left: 0px;
}

.top-mid-left-inner {
	border-left: medium solid #CCCCCC;
    border-right: medium solid #CCCCCC;
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
    
    padding-left: 15px;
    width: 156px;
}

.delay-label {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #777777;
}

.delay-value {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
}

.top-mid-left img {
    vertical-align: middle;
    margin-right: 8px;
}

.top-mid-right {
    border-top: medium solid #CCCCCC;
    height: 40px;
    padding-left: 28px !important;
}

.top-mid-right-inner {
    height: 28px;
    line-height: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
}

div .risk-label-div {
	padding-right: 0px;
	width: 204px;
	padding-left: 26px;
}

.risk-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #777777;
}

div .cluster-info {
	border-left: 2px solid #999999;
	margin-left: 14px;
	padding-top: 6px;
}

div .colorBarBackground {
        height: 26px; 
        width: 200px;
        padding-right:0px;
        padding-left: 0px;
}

div .colorBarBackgroundCluster {
    height: 26px; 
    width: 200px;
    padding-right:0px;
    margin-left: 13px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  width: 200px;
  opacity: 0;
}
 
span.text-content span {
  display: table-cell;
  vertical-align: middle;
}

span.range-left {
	text-align: left;
	width: 33px;
	padding-left: 4px;
}

span.range-right {
    text-align: right;
    width: 33px;
    padding-right: 4px;
}

span.range-breakpoint {
	text-align: center;
	width: 34px;
}

div.colorBarBackgroundCluster:hover span.text-content {
  opacity: 1;
}

div.colorBarBackgroundCluster:hover + div.cluster-score {
  opacity: 1;
}

.top-mid-right img {
    vertical-align: middle;
    margin-bottom: 2px;
    margin-left: 8px;
}

.top-right {
    border-top: medium solid #CCCCCC;
    height: 40px;
    padding-left: 0px;
    padding-right: 0px;
}

.top-right button {
    vertical-align: middle;
}


.bottom-middle {
    border-top: medium solid #CCCCCC;
    top: -2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
}

.bottom-cap {
	border-bottom: medium solid #999999;
	margin-bottom: 16px;
}


.cluster-heading {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
    line-height: 1;
    color: #999;
    padding-bottom: 2px;
}

.cluster-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #777777;
    margin-top: 4px;
}

.cluster-label-span {
    width: 352px;
}

.cluster-score {
	height: 20px;
    line-height: 20px;
    margin-top: 2px;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    
    padding-left: 28px;
    
    opacity: 0;
}

.collapse-button {
	margin-bottom: 18px;
	left: 50%;
}

.explanation-button {
    height: 34px;
    width: 34px;
}

.explanation-div {
	float: left;
}

.icon-explanation-grey {
	background-image: url(images/info-icon-24.png) !important;
    margin-top: -12px !important;
}

.icon-explanation-active {
    background-image: url(images/info-icon-blue-24.png) !important; 
    margin-top: -12px !important;
}

.star {
    padding-left: 0px;
    padding-right: 0px;
}

.star-button {
    height: 34px;
    width: 34px;
}

.star-div {
	float: right;
	margin-left: 0px;
}

.icon-star-grey { 
	background-image: url(images/star-grey-24.png) !important;
	margin-top: -12px !important; 
}

.icon-star-yellow { 
    background-image: url(images/star-with-border-24.png) !important; 
    margin-top: -12px !important; 
}

.cluster-desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #777777;
    margin-bottom: 4px;
}

.cluster-inputs {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #777777;
    margin-left:14px;
}

.eval-input-row {
	margin-top: 2px;
	margin-bottom:2px;
}

.eval-input-title-row {
    margin-top: 2px;
    margin-bottom:2px;
    font-weight: bold;
    color: #999999;
    text-align: center;
}

.title-cell-bg {
	background-color: #EEEEEE;
	background-clip:content-box;
	padding-left: 2px;
	padding-right: 2px;
}

.cell-bg {
    background-color: #DDDDDD;
    background-clip:content-box;
    padding-left: 2px;
    padding-right: 2px;
}

/* remove the blue outline that is displayed by the browser on buttons */
button:focus {
outline: 0px solid transparent;
}

/* 
  checkbox styles  
 
  adapted from: https://codepen.io/dylanraga/pen/Qwqbab

*/

div .fileChooserListDiv {
    justify-content: center;
    align-items: center;
    font: 20px/1.4 "RobotoDraft", sans-serif;
    color: #fff;
}

div .fileChooserListRow {
    margin-left: 12px;
    height: 32px;
}

input[type='checkbox']{ height: 0; width: 0; }

input[type='checkbox'] + label{
  position: relative;
  display: flex;
  margin: .6em 0;
  align-items: center;
  color: #9e9e9e;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);

  width: 100%;
}
input[type='checkbox'] + label > ins{
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'] + label > ins > i{
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: rgb(49, 49, 49);
}
input[type='checkbox'] + label > span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  cursor: pointer;  
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'] + label:hover {
  color: rgb(49, 49, 49);
}

input[type='checkbox']:focus + label{
    color: #9e9e9e;
  }

input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
  background: rgba(255,255,255,.1);
}
input[type='checkbox']:checked + label > ins{ height: 100%; }

input[type='checkbox']:checked + label > span{
  border: .1em solid #28a745;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox']:checked + label > span:before{
  content: "";
  position: absolute;
  top: .6em;
  left: .2em;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .3em;
    height: .6em;    
    border-color: #212121;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}



/*

 AUTOCOMPLETE
 
*/

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}